<header class="header-area clearfix">
    <!-- Close Icon -->
    <section class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </section>
    <!-- Logo -->
    <section class="logo">
        <a href="/"><img src="~/img/core-img/logo.png" alt=""></a>
    </section>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Articles">Articles</a></li>
            <li><a href="/Categories">Categories</a></li>
            @{
                if (new MVC02.Controllers.RoleCheck().AdminCheckBool(Session["LoggedInAs"])) {
                    <li><a href="/Admin">Admin Panel</a></li>
                }
            }
        </ul>
    </nav>
    <!-- Button Group -->
    <section class="amado-btn-group mt-30 mb-100">
        @{if (Session["LoggedInAs"] == null) {
                <button type="button" class="btn amado-btn m-1" data-toggle="modal" data-target="#modalLog">Login</button>
                <button type="button" class="btn amado-btn active m-1" data-toggle="modal" data-target="#modalReg">Register</button>
            } else {
                <button type="button" id="logOut" class="btn amado-btn active m-1">Logout</button>
            }
        }
    </section>
    <!-- Social Button -->
    <section class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </section>
</header>

<script>
    $(document).ready(function () {

        //Login
        $("#loginForm").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: "/Account/Login",
                method: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (isdone) {
                    if (isdone == "True") {
                        alert("Logged In");
                        location.reload();
                    } else { alert("Problem"); }
                },
                error: function () { alert("Error"); }
            });
        });

        //Register
        $("#registerForm").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: "/Account/Register",
                method: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (isdone) {
                    if (isdone == "True") {
                        alert("Registered");
                        location.reload();
                    } else { alert("Problem"); }
                },
                error: function () { alert("Error"); }
            });
        });

        //Logout
        $("#logOut").click(function () {
            $.ajax({
                url: "/Account/Logout",
                method: "POST",
                success: function () { location.reload(); },
                error: function () { alert("Error"); }
            })
        });

        //Etc
        $(".shownavpass").click(function () {
            if ($(".upwd").attr("type") == "text") {
                $(".upwd").attr("type", "password");
                $(this).text("Hide");
            }
            else {
                $(".upwd").attr("type", "text");
                $(this).text("Show");
            }
        });
    });
</script>