
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<WebAPI01MVC.Models.Article>

@{
    foreach (var item in Model) {
        <hr />
        <h2>@item.ArticleTitle</h2>
        <img src="http://project01.egeeturan.com/@item.ArticleIMG" style="height:140px" />
        <p>@item.ArticleContext</p>
    }
}
<hr />


