
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebAPI01MVC.Models.Article

@using (Html.BeginForm("Show", "Article", FormMethod.Post)) {
    @Html.TextBox("id", null);
    <button type="submit">Show</button>
}

@{
    if (Model != null) {
        <hr />
        <h2>@Model.ArticleTitle</h2>
        <img src="http://project01.egeeturan.com/@Model.ArticleIMG" alt="@Model.ArticleIMG" style="height:140px" />
        <p>@Model.ArticleContext</p>
        <hr />
    }
}


