@model List<MVC02.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    @foreach (var item in Model) {
        <section class="single-products-catagory clearfix">
            <a href="/Article/Details/@item.artID">
                <img src="/@item.artImage" alt="">
                <!-- Hover Content -->
                <section class="hover-content">
                    <section class="line"></section>
                    <h4 class="rounded p-2 text-light" style="background-color: rgba(52, 52, 52, 0.50);">@item.artTitle</h4>
                </section>
            </a>
        </section>
    }
}

