<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js" defer="defer"></script>
    <script src="~/scripts/jquery-3.3.1.slim.min.js" defer="defer"></script>
    <script src="~/scripts/popper.min.js" defer="defer"></script>
</head>
<body class="container">
    <section class="col-12">
        @RenderBody()
    </section>
</body>
</html>
