
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<MVC02.Models.Article>

@section Main{
    @foreach (var item in Model) {
        <div class="single-products-catagory clearfix">
            <a href="show">
                <img src="/@item.artImage" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>@item.artTitle</h4>
                    @{ 
                        foreach (var item in collection) {

                        }
                    }
                </div>
            </a>
        </div>
    }
}

