
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@using MVC02.Models
@model List<Article>

@section Main{
    @foreach (Article item in Model) {
        <div class="single-products-catagory clearfix">
            <a href="show">
                <img src="/@item.artImage" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>@item.artTitle</h4>
                </div>
            </a>
        </div>
    }
}

