<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ01.Properties.Settings.DBLINQConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBLINQ;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="LINQ01.Properties.Settings.ODEV3ConnectionString"
            connectionString="Data Source=.;Initial Catalog=ODEV3;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>