.temp{
    border: solid 1px #000000;
    margin: 5px;
}
div#fdiv{
    margin-left: 400px;
    width:500px;
    height:530px;
}
div#upperdiv{
    height:80px;
}
div#banner{
    height:40px;
}
div#navigation{
    height:20px;
}
div#middlediv{
    height: 75%;
}
div#bottomdiv{
    height: 5%;
}
div.middle{
    float:left;
    height: 385px;
}
div#sidebar{
    width: 100px;
}
div#categories{
    height:275px;
}
div#ads{
    height:90px;
}
div#contentwrapper{
    width: 364px;
}
div#slider{
    height:140px;
}
div#contentcard{
    height:224px;
}