@model IEnumerable<MVC02.Models.Category>

@{
    ViewBag.Title = "Category Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <p>
        @Html.ActionLink("Create New", "Category/Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.catName)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.catName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Category/Edit", new { id = item.catID })
                </td>
            </tr>
        }

    </table>
}
