
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MVC02.Models.Category

@section Main{
    <form name="catForm" id="catForm">
        @Html.LabelFor(m => m.catName)
        @Html.TextBoxFor(m => m.catName)<br />

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
}

@section Source{
    <script src="~/js/jquery/jQuery3-3-1.js"></script>
    <script>
        $(document).ready(function () {
            $("#catForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Category/Add",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (isdone) {
                        if (isdone == "True") {
                            alert("Done");
                            window.location.replace("/Category/Index");
                        }
                        else {
                            alert("Problem");
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            });
        });
    </script>
}